@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #ecf0f3;
}

.container {
  display: flex;
  align-items: center;
}

.container > a {
  display: block;
  margin: 0 16px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1),
    -3px -3px 5px rgba(255, 255, 255, 0.9);
}

.container a.facebook {
  color: #4366af;
}

.container a.twitter {
  color: #249ef0;
}

.container a.instagram {
  color: #ff0e69;
}

.container a.github {
  color: #343336;
}

.container a.youtube {
  color: #ff0103;
}

.container > a:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1),
    -3px -3px 5px rgba(255, 255, 255, 0.9), inset 3px 3px 5px rgba(0, 0, 0, 0.1),
    inset -3px -3px 5px rgba(255, 255, 255, 0.9);
  font-size: 22px;
}
