* {
  margin: 0;
}

.container {
  margin: 8px;
  text-align: center;
  font-family: Montserrat;
}

.title {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 16px;
}

.order {
  font-weight: 400;
  font-size: 22px;
}

.link {
  text-decoration: underline;
}
