@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #dee1e8;
  display: flex;
  align-items: center;
  justify-content: center;
}

#check {
  display: none;
}

.container {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  border-radius: 8px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2),
  -3px -3px 8px rgba(255, 255, 255, 0.6) ;
}

.container .check-box {
  position: relative;
  width: 120px;
  height: 48px;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2),
    -3px -3px 8px rgba(255, 255, 255, 0.6),
    inset 2px 2px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px rgba(255, 255, 255, 0.6);
}

.container .check-box .circle {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2), -3px -3px 8px rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease;
}

#check:checked ~ .check-box .circle {
  left: calc(100% - 48px);
}

.container .state {
  width: 100px;
}

.state span {
  font-size: 20px;
  font-weight: 500;
}

.state .checked {
  display: none;
  color: lightcoral
}

.state .unchecked {
  color: #999
}

#check:checked ~ .state .checked {
  display: inline;
}

#check:checked ~ .state .unchecked {
  display: none;
}