@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #34495E;
}

.container {
  position: relative;
  width: 260px;
  height: 80px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container .share-btn {
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  line-height: 80px;
  color: #34495E;
  cursor: pointer;
  transition: transform 0.4s linear;
}

.container:hover .share-btn {
  transform: translateX(-100%);
}

.container:hover .links {
  transform: translateX(0);
}

.container .links {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  left: 0;
  transform: translateX(100%);
  transition: transform 0.4s linear;
}

.links a {
  font-size: 20px;
  color: #334B68;
  transition: transform 0.3s linear;
}

.links a:hover {
  transform: scale(1.1);
}