@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --heading-height: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #140B5C;
}

footer::after {
  position: absolute;
  content: "";
  top: var(--heading-height);
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
}

.wrapper {
  width: 77%;
  margin: 0 auto;
}

.heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--heading-height);
}

.heading .logo {
  color: #fff;
  font-size: 30px;
}

.heading .contact {
  display: flex;
  align-items: center;
}

.contact a {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  font-size: 18px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.contact a:hover {
  background-color: #fff;
}

.contact .facebook {
  background-color: #4267B2;
}

.contact .facebook:hover {
  color: #4267B2
}

.contact .twitter {
  background-color: #1DA1F2;
}

.contact .twitter:hover {
  color: #1DA1F2
}

.contact .instagram {
  background-color: #E1306C;
}

.contact .instagram:hover {
  color: #E1306C;
}

.contact .linkedin {
  background-color: #0077B5;
}

.contact .linkedin:hover {
  color: #0077B5;
}

.contact .youtube {
  background-color: #FF0000;
}

.contact .youtube:hover {
  color: #FF0000;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 30px 0 40px;
}

.column {
  width: 20%;
}

.column .title {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.column .title::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 2px solid #fff;
  border-radius: 1px;
  background-color: #fff;
  left: 0;
  width: 36px;
}

.column .details {
  display: inline-flex;
  flex-direction: column;
  margin-top: 8px;
}

.details a {
  margin: 6px 0;
  font-size: 14px;
  font-weight: 500;
  color: #ccc;
  text-decoration: none;
}

.details a:hover {
  text-decoration: underline;
}

.column form {
  margin-top: 16px;
}

.column form .input-box {
  height: 40px;
  margin-bottom: 10px;
}

form .input-box input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  outline: none;
  border: none;
}

form .input-box input[type="email"] {
  padding-left: 16px;
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #AFAFB6;
  caret-color: #fff;
  transition: all 0.3s ease;
}

form .input-box input[type="email"]::placeholder {
  color: #AFAFB6;
}

form .input-box input[type="email"]:focus {
  border-color: #fff;
}

form .input-box input[type="submit"] {
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s ease;
}

form .input-box input[type="submit"]:hover {
  opacity: 1;
}

.ending {
  height: 60px;
  background-color: #0F0844;
}

.ending .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ending .copyright span {
  font-size: 14px;
  font-weight: 400;
  color: #AFAFB6;
}

.ending .copyright span .name {
  text-decoration: none;
  color: #979797;
}

.ending .copyright span .name:hover {
  text-decoration: underline;
}

.ending .policy a {
  font-size: 14px;
  text-decoration: none;
  color: #AFAFB6;
  margin: 0 6px;
}

.ending .policy a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .main {
    margin-top: 6px;
  }

  .column {
    width: 25%;
    margin-top: 24px;
  }

  .column.feedback {
    width: 50%;
  }

  .ending {
    padding: 8px 0;
  }

  .ending .wrapper {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media (max-width: 700px) {
  .heading {
    height: 140px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  footer::after {
    top: 140px
  }

  .main {
    margin-top: 6px;
  }
  .column {
    width: calc(100% / 3);
    margin-top: 24px;
  }

  .column.feedback {
    width: 75%;
  }

  .ending {
    padding: 8px 0;
  }

  .ending .wrapper {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media (max-width: 520px) {
  .heading {
    height: 140px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  footer::after {
    top: 140px
  }

  .main {
    margin-top: 6px;
  }
  .column {
    width: calc(100% / 2);
    margin-top: 24px;
  }

  .column.feedback {
    width: 100%;
  }

  .ending {
    padding: 8px 0;
  }

  .ending .wrapper {
    flex-direction: column;
    justify-content: space-evenly;
  }
}